body {
	padding: 1%;
	font-family: 'Lato', sans-serif;
}

input[type=text] {
	padding: 5px;
	margin: 3px;
}

input[type=submit] {
	padding: 5px;
	width: 80px;
}

table td {
	width: 200px;
	padding: 5px 5px 5px 0;
}

hr {
	margin: 30px 0 30px 0;
}