<html>

<head>
    <title>Bouncer</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="content">
        <h2>Bouncer</h2>
        <form method="post" action="/create" id="new_shortlink">
            <input type="text" id="shortlink" name="shortlink" placeholder="Shortlink" value="{{provided_shortlink}}" />
            <input type="text" id="shortlink_url" name="shortlink_url" placeholder="URL" value="{{existing_url}}" />

            <input type="submit" value="Create" />
        </form>
    </div>

    <ul>
        {{#each shortlinks}}
        <li class="shortlink_block">
            <a href="{{this.url}}"><h3>{{this.shortlink}}</h3></a>
            <p class="sl_domain">{{this.domain}}</p>
            <p class="sl_title">{{this.title}}</p>
        </li>
        {{/each}}
    </ul>
</body>

</html>